.alert-error {
  color: darkred;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background-color:#F9D7DA;
  font-size: 20px;
  padding: 10px 55px;
  border: ridge 3px;

}

*{  margin:0;
  }



.header{
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  
  width: 100%;
  height: 70px;
  background-color: #3F51B5;
  color: white;
  font-size: 20px;
  padding: 20px 55px;
  border: ridge 3px;


}

.dropdownL{
  margin-left:10px;

}

#root{
  display: flex;
  padding: 0;
  margin:0;


  
}

.ul{
  box-sizing: border-box;
  padding:0;

}

.ul_onclick{
  margin:0;
  box-sizing: border-box;
  padding:3px;
  width:48%;
 

 

}

.li{

  border: solid grey 1px;
  box-shadow: -5px 5px 10px grey;
}




.contributerBox{
  margin:5px;
  text-align: left;
  color: grey;
  box-sizing: border-box;
  width: 48%;
  height:800px;
  float: left;
  border: solid grey 1px;
  box-shadow: 5px 5px 10px grey;
  
  display: none;
  

}

.contriUl{
  text-align: left;
  margin:0;
  padding: 4px 0px;

  
}


.contributorLi{
  box-sizing: border-box;
  list-style: none;
  width:100%;
  height: 80px;
  border-bottom: solid rgb(179, 177, 177) 0.08px;
  margin:0;
  padding: 10px 10px;
  display: flex;
  justify-content: baseline;
}


.contributor-avatar{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.contributor-name{
  text-decoration: none;
  margin: 16px 16px;

}


.contributor-number{

  background-color: #808080;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
  margin: 14px 10px 15px 10px;

}






.li{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 20px 15px;
  border: ridge 3px;
  list-style-type:none;
  line-height: 30px;

}
.ul2{
  list-style-type:none
}